@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
html {
    font-family:'Raleway', Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}
*, *::before, *::after {
    box-sizing:inherit;
}
body {
    margin:0;
}
.hidden {
    position:absolute;
    left:-100000px;
}
a, a:link {
    text-decoration:none;
}
.page-wrapper {
    position:relative;
    margin:0 auto;
    max-width:1024px;
}
.flex-container {
    display:flex;
    max-width:1024px;
    margin:0 auto;
    flex-flow:row wrap;
}

/* MEDIA QUERIES */
@media (max-width: 568px) {

    #main-nav {
        display:none;
    }

}