@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
/* TABLE OF CONTENTS

1. GENERAL
2. HEADER
3. BODY
   3.1 BANNER
   3.2 MAIN
4. FOOTER
*/

/* 1. GENERAL */
html {
    font-family:'Raleway', Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}
*, *::before, *::after {
    box-sizing:inherit;
}
body {
    margin:0;
}
.hidden {
    position:absolute;
    left:-100000px;
}
a, a:link {
    text-decoration:none;
}
.page-wrapper {
    position:relative;
    margin:0 auto;
    max-width:1024px;
}
.flex-container {
    display:flex;
    max-width:1024px;
    margin:0 auto;
    flex-flow:row wrap;
}
/* 2. HEADER */
#header {
    background-color:#3c4f76;
    height:120px;
}
#logo-and-title {
    padding-top:1rem;
    float:left;
}
#logo-container {
    max-width:100%;
}
#logo {
    width:8em;
}
#main-nav {
    float:right;
    padding-top:2em;
}
#main-nav a, a:link {
    color:#fff;
    text-transform:uppercase;
    font-size:0.9em;
}
.menu li {
    list-style:none;
    display:inline-block;
    padding-right:1.5rem;
}
.menu li:last-child {
    padding-right:0;
}

/* 3. BODY */
/* 3.1 BANNER */
#banner-head {
    clear:both;
}
.img-banner {
    height:auto;
    position:relative;
}
#banner {
    width:100%;
    height:auto;
}
.banner-hover {
    position:absolute;
    background-color:#383f5190;
    z-index:100;
    left:0;
    top:0;
    bottom:0;
    right:0;
    width:100%;
    height:auto;
}
.banner-title-cont {
    margin:0 auto;
    text-align:center;
    width:100%;
    position:relative;
}
.banner-title {
    font-size:8vmin;
    position:absolute;
    color:#fff;
    margin-top:10%;
    left:0;
    z-index:101;
}
.ghost-button-cont {
    position:relative;
    max-width:100%;
}
.button {
    position:absolute;
    text-transform:uppercase;
    font-size:1.5em;
    border-radius:10px;
    text-decoration:none;
    padding:18px 55px;
    margin-top:35%;
    left:50%;
    margin-right:-50%;
    transform:translate(-50%, -50%);
    z-index:102;
}
.ghost {
    background-color:#3c4f76;
}
.ghost.button {
    color:#fff;
}
/* 3.2 MAIN */
#features {
    font-size:3em;
    padding-top:1rem;
    color:#3c4f76;
}
.icon-feature {
    float:left;
    margin-right:-2.25rem;
}
.first-row {
    padding:2rem 0 0rem 2rem;
}
.second-row {
    padding:2rem 0 3rem 2rem;
}
.feature-cont {
    clear:both;
    color:#3c4f76;
}
.fa {
    color:#383f51;
    flex:0 1;
    padding-right:1em;
}
.feature-cont {
    flex:1 0;
    padding-right:1em;
}
.feature-title {
    font-size:1.3em;
}
.feature-desc {
    font-size:0.9em;
}
/* ICON SIZES */
/* makes the font 33% larger relative to the icon container */
.#{$fa-css-prefix}-lg {
    font-size: (4em / 3);
    line-height: (3em / 4);
    vertical-align: -15%;
}
.#{$fa-css-prefix}-2x { font-size: 2em; }
.#{$fa-css-prefix}-3x { font-size: 3em; }
.#{$fa-css-prefix}-4x { font-size: 4em; }
.#{$fa-css-prefix}-5x { font-size: 5em; }

/* 4. FOOTER */
#footer {
    padding-top:1rem;
    background-color:#3c4f76;
    color:#fff;
}
.copyright {
    padding-bottom:1.5em;
}
.soc-media {
    padding-bottom:1.5rem;
}
.soc-media [class*="fa fa-"] {
    color:#fff;
}
.soc-media [class*="fa fa-"]:hover {
    color:#dddddd;
}
@media (max-width: 906px) {
    .button {
        position:absolute;
        text-transform:uppercase;
        border-radius:10px;
        text-decoration:none;
        padding:14px 51px;
        margin-top: 38px%;
        left:50%;
        margin-right:-50%;
        transform:translate(-50%, -50%);
        z-index:102;
    }
}
@media (max-width: 568px) {

    #main-nav {
        display:none;
    }

}
@media (max-width: 490px) {
    .button {
        position:absolute;
        text-transform:uppercase;
        border-radius:10px;
        text-decoration:none;
        padding:10px 45px;
        margin-top: 34%;
        left:50%;
        margin-right:-50%;
        transform:translate(-50%, -50%);
        z-index:102;
    }
    .ghost.button {
        font-size:0.7em;
    }
}
@media (max-width: 440px) {
    .button {
        position:absolute;
        text-transform:uppercase;
        border-radius:10px;
        text-decoration:none;
        padding:8px 40px;
        margin-top: 34%;
        left:50%;
        margin-right:-50%;
        transform:translate(-50%, -50%);
        z-index:102;
    }
}
@media (max-width: 365px) {
    .button {
        position:absolute;
        text-transform:uppercase;
        border-radius:10px;
        text-decoration:none;
        padding:7px 35px;
        margin-top: 34%;
        left:50%;
        margin-right:-50%;
        transform:translate(-50%, -50%);
        z-index:102;
    }
    .ghost.button {
        font-size:0.7em;
    }
}
@media (max-width: 320px) {
    .button {
        position:absolute;
        text-transform:uppercase;
        border-radius:10px;
        text-decoration:none;
        padding:7px 35px;
        margin-top: 34%;
        left:50%;
        margin-right:-50%;
        transform:translate(-50%, -50%);
        z-index:102;
    }
    .ghost.button {
        font-size:0.7em;
    }
}

